

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  table {
 
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #f4f4f4;
    padding: 20px;
    border-radius: 0.375rem;
}
  

  
  /* Clear floats after the columns */
  section::after{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 1px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
  }