table {
border-collapse: collapse;
width: 18%;
height: 205px;
float: left;
background: #faf8ff;
padding: 20px;


}
.table{
width: 50%;
border-radius: 1.375rem;
}



.login_table{
border-radius: 1.375rem;
float: left;
width: 100%;
height: 200px;
background: #f4f4f4;
padding: 20px;
}




td {
padding: 7px;

text-align: left;
border-bottom: 1px solid #ddd;
}



.form-control{
width: 100%;
border-radius: 1.375rem;
}

.ratio-16x9 {
--bs-aspect-ratio: 100%;
}

.col-lg-6 {
flex: 0 0 auto;
width: 35%;
}

th {
width: 6%;

}

.ratio {
    margin-right: auto;
    margin-left: auto;
}
.container{max-width: 1095px;}
