.singup_table {
  border-radius: 1.375rem;
  float: left;
  width: 100%;
  height: 200px;
  background: #f4f4f4;
  padding: 20px;
}

td {
  padding: 7px;

  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  width: 6%;
}

.form-control {
  width: 100%;
  border-radius: 1.375rem;
}

.input-group-text {
  width: 96%;
}
.ratio-16x9 {
  --bs-aspect-ratio: 100%;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 35%;
}

.container {
  max-width: 1093px;
}